/** Responsive desing  
adapatar un web a disitintas resoliciones
/** Movil first desing
adapatar un web a disitintas resoliciones moviles
**/
*{
    font-family: 'Sen', sans-serif;
    font-weight: 100;
}

.nav__responsive-ul{
    display: none;   
}

.nav{
    background:rgb(19, 8, 87);
    margin-left: 5%;
}

.nav__li{
    display: inline-block;
    padding: 20px;
    color: white;
}

.nav__li:hover > a{
    color: darkslateblue;
}

.nav__li:hover{
    color: darkslateblue;
}

.nav__li a{
    color: white;
    text-decoration: none;
}

.nav__li i{
    width: 30px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}


@media only screen and (max-width: 600px){
    .nav__ul{
        display: none;
    }

    .nav{
        height: 37px;
        width: 100%;
    }

    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        background: #9bf;
        height: 100%;
        margin-top: 27px;
        padding-top: 32px;
        
    }

    .nav__responsive-li{
        width: 100%;
        padding: 9px 20px;
    }
    
    .nav__responsive-li i{
        width: 30px;
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
        color: #016;
    } 
    
    .nav__responsive-li a{
        color: #016;
        text-decoration: none;
}

.nav__responsive-button-container{
    position: absolute;
    width: 100%;
    font-size: 50px;
    background-color: #69c;
    margin-top: -60px;

}

.nav__responsive-button{
    width: 90%;
    padding:  5px 25px;
    text-align: right;
}


}






/**Contenido**/



/**
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 28 px;   
  }
  
  .caja10, .caja11{
    width: 45%;
    display: inline-block;
    padding: 80px;
    background-color: #595959;
  }

  .caja11{
    background-color: #b5aaaa;
  }